.page-header
  %h1 Recruitments
.content-box.well
  %table.table.table-striped.no-whitespace
    %thead
      %tr
        %th.mini
        %th Class
        %th Spec
        %th.mini 
        %th
    %tbody= render @recruitments