.content-box.well[category.source]
  .btn-group.pull-right
    = link_to [:edit, :admin, category], class: 'btn btn-link ajax-modal' do
      %i.icon-pencil
    = link_to [:admin, category], class: 'btn btn-link', remote: true, method: :delete, confirm: 'Are you sure you want to delete this record?' do
      %i.icon-trash.text-error
  %h3
    = category.display_name
  .content= category.display_description