%li.divider
%li#show-all-results
  = link_to 'Show all results...', searches_path(q: {keyword: keyword})
%li.divider
- topics.group_by(&:display_board).each do |board_name, topic_list|
  - topic_list.each_with_index do |topic, index|
    %li    
      = link_to forums_board_topic_path(topic.board, topic, highlight: keyword) do
        - if index == 0
          %span.post-board-name
            %em= board_name
        .post-topic-name= topic.display_subject