$('#spotlight-box .dropdown-menu li:has(form)').nextAll().remove();
- unless @posts.empty?
  $('#spotlight-box .dropdown-menu li:has(form)').after('#{j render 'search_results', posts: @posts, keyword: @keyword}');