@import 'bootstrap/mixins'
@import 'variables'

#shoutbox form
  position: relative
  &.sending
    input
      -webkit-filter: blur(3px)
      @include opacity(20)
  .sending-message
    color: #fff
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    padding: 4px
    text-align: center
    background-color: rgba(#000,.75)
    @include border-radius(4px)

.control-group.error 
  color: $errorText

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
  color: #eee
  
textarea.wysihtml5
  background-color: #1a1a1a
  
fieldset
  margin: 0
  legend
    font-weight: 600
    font-size: 18px
    line-height: 20px
    padding-bottom: 3px
    color: $linkColor
    text-shadow: 1px 1px 0px rgba(0,0,0,0.3), -1px -1px 0px rgba(255,255,255,.1)
    border: none
    position: relative
    margin-bottom: 0px
    &:after
      content: ''
      position: absolute
      bottom: -1px
      height: 1px
      left: -30px
      right: -30px
      @include gradient-horizontal-three-colors(rgba($linkColor,0), rgba($linkColor,1), 50%, rgba($linkColor,0))
      background-color: transparent
fieldset + fieldset
  legend
    padding-top: 20px