@import 'bootstrap/mixins'
@import 'bootstrap/variables'

body
  background: #000 image-url('slash_it.png') top left
  padding-bottom: 10px
  #banner
    height: 250px
    overflow: hidden
    position: relative
    img
      width: 100%
  #menu
    padding: 2px 0
    ul.nav-pills
      margin: 0
      background: rgba(0,0,0,.1)
      border-top: 1px solid #000
      border-bottom: 1px solid #000
      li
        a
          @include transition(all 0.2s linear)
          font-family: 'Lato'
          font-weight: 300
          font-size: 18px
          text-transform: uppercase
          padding-left: 18px
          padding-right: 18px
          line-height: 22px
          &:hover
            background: none
            color: #fff
            text-shadow: 0 0 3px $linkColor, 0 0 10px $linkColor, 0 0 20px $linkColor, 0 0 30px $linkColor
        &.active
          a
            background: none
            color: #fff
            text-shadow: 0 0 3px $linkColor, 0 0 10px $linkColor, 0 0 20px $linkColor, 0 0 30px $linkColor
  #content
    background: rgba(32,32,32,0.75)
    border-top: 1px solid #000
    .sidebar
      padding: 10px 20px
      &#left-sidebar
        padding-right: 0
        #shoutbox
          input
            color: #eee
            background: rgba(255,255,255,.05)
            border: none
          #existing-messages
            overflow-y: auto
            max-height: 400px
            background: rgba(255,255,255,.05)
            color: #999
            padding: 10px
            @include border-radius(4px)
            .shoutbox-message
              & + .shoutbox-message
                margin-top: 3px
              .timestamp
                font-size: 9px
                color: #666
              .user-name
                color: $infoBorder
      &#right-sidebar  
        padding-left: 0  
    #main-content
      //background: rgba(0,0,0,.2)
      //@include box-shadow(0 0 20px rgba(0,0,0,0.1))      
      position: relative
      &:before, &:after
        display: none
        content: ''
        position: absolute
        width: 1px
        top: 15px
        bottom: 0
        @include gradient-vertical-three-colors(rgba(0,136,204,0), rgba(0,136,204,0.5), 50%, rgba(0,136,204,0))
        background-color: transparent
      &.span6, &.left-bordered
        &:before
          left: -1px
          display: block
      &.span6, &.right-bordered
        &:after
          right: -1px
          display: block
      .news-entry, .content-box
        padding: 0 15px
        color: #aaa
        margin-bottom: 15px
        font-size: 13px
        line-height: 19.5px
        h1
          line-height: 1
          font-size: 26px
        .content
          .read-more-link
            font-style: italic
        &:first-child
          padding-top: 10px
          h1
            font-size: 28px
      .news-entry + .news-entry, .content-box + .content-box
        padding-top: 10px
        margin-top: 30px
      .content-box
        .actions
          //background: rgba(0,0,0,.1)
          position: relative
          background: none
          padding: 10px 0
          border-top: none
          &:after
            content: ''
            position: absolute
            top: -1px
            height: 1px
            left: -10px
            right: -10px
            @include gradient-horizontal-three-colors(rgba(0,136,204,0), lighten($linkColor, 30%), 50%, rgba(0,136,204,0))
            background-color: transparent
          
          
        input[type='text'], input[type='password'], input[type='email']
          color: #eee
          background: rgba(255,255,255,.05)
          border: none
  #footer
    padding: 10px 0
    font-size: 10px
    a
      color: #888