@import 'bootstrap/mixins'
@import 'variables'

body
  background: #000 image-url('slash_it.png') top left
  padding-bottom: 10px
  #banner
    max-height: 250px
    overflow: hidden
    position: relative
    img
      width: 100%
  #menu
    padding: 2px 0
    background: rgba(0,0,0,.1)
    border-top: 1px solid #000
    border-bottom: 1px solid #000
    ul.nav-pills
      margin: 0
      li
        a
          @include transition(all 0.2s linear)
          font-family: 'Titillium Web'
          font-weight: 400
          font-size: 14px
          text-transform: uppercase
          padding-left: 18px
          padding-right: 18px
          line-height: 16px
          color: #fff
          &:hover
            background: none
            color: #fff
            text-shadow: 0 0 3px $linkColor, 0 0 10px $linkColor, 0 0 20px $linkColor, 0 0 30px $linkColor
        &.active
          a
            background: none
            color: #fff
            text-shadow: 0 0 3px $linkColor, 0 0 10px $linkColor, 0 0 20px $linkColor, 0 0 30px $linkColor
  #content
    background: rgba(70,70,70,0.75)
    border-top: 1px solid #000
    .sidebar
      padding: 10px 20px
      &#left-sidebar
        padding-right: 0
        #shoutbox
          input
            color: #eee
            background: rgba(0,0,0,.5)
            border: 2px solid black
            margin: 0
          #existing-messages
            overflow-y: auto
            max-height: 400px
            background: rgba(0,0,0,.5)
            border: 2px solid black
            color: #999
            padding: 10px
            @include border-radius(4px)
            .shoutbox-message
              & + .shoutbox-message
                margin-top: 3px
              .timestamp
                font-size: 9px
                color: #666
              .user-name
                color: $linkColor
      &#right-sidebar  
        padding-left: 0  
    #main-content
      position: relative
      &:before, &:after
        display: none
        content: ''
        position: absolute
        width: 1px
        top: 15px
        bottom: 15px
        @include gradient-vertical-three-colors(rgba(0,136,204,0.2), rgba(0,136,204,1), 50%, rgba(0,136,204,0.2))
        background-color: transparent
      &.span8, &.left-bordered
        &:before
          left: -1px
          display: block
      &.span8, &.right-bordered
        &:after
          right: -1px
          display: block
      .news-entry, .content-box
        padding: 15px
        color: #ddd
        margin-bottom: 15px
        font-size: 13px
        line-height: 19.5px
        h1
          line-height: 1
          margin: 0
        .cover-image
          //border: 5px solid black
          padding: 6px
          background: rgba(0,0,0,.7)
          margin-bottom: 6px
          img
            width: 100%
        .content
          .read-more-link
            font-style: italic
        //&:first-child
        //  padding-top: 10px
        &.latest
          position: relative
          &:after
            content: ''
            position: absolute
            bottom: -1px
            height: 1px
            left: 10px
            right: 10px
            @include gradient-horizontal-three-colors(rgba(0,136,204,0), rgba(0,136,204,1), 50%, rgba(0,136,204,0))
            background-color: transparent
      .row-fluid
        .news-entry.span8
          padding-top: 0
          padding-bottom: 0
          &:nth-child(1)
            padding-right: 0
          &:nth-child(2)
            padding-left: 0
      .content-box
        .actions
          //background: rgba(0,0,0,.1)
          position: relative
          background: none
          padding: 10px 0
          border-top: none
          &:after
            content: ''
            position: absolute
            top: -1px
            height: 1px
            left: -10px
            right: -10px
            @include gradient-horizontal-three-colors(rgba(0,136,204,0), lighten($linkColor, 30%), 50%, rgba(0,136,204,0))
            background-color: transparent
          
          
        input[type='text'], input[type='password'], input[type='email']
          color: #eee
          background: rgba(255,255,255,.05)
          border: none
  #footer
    padding: 10px 0
    font-size: 10px
    a
      color: #888