@import 'bootstrap/mixins'
@import 'variables'

.breadcrumb
  background: $inputBackground
  border: 1px solid $inputBorder
  > li
    text-shadow: none

.well-black
  background: $inputBackground
  border: 1px solid $inputBorder
.well-black .btn-link, .btn-link.btn-link-white
  color: #fff
  &:hover, &:focus
    background: none
    color: #fff
    text-shadow: 0 0 3px $linkColor, 0 0 10px $linkColor
    text-decoration: none

a.mark-as-unread
  @include opacity(0)
  @include transition(opacity .2s linear)
  &:hover
    @include opacity(50)
    text-decoration: none
a.mark-as-read:hover
  text-decoration: none
  
table.table
  tr.forums_board
    td
      vertical-align: middle