@import 'bootstrap/mixins'
@import 'variables'
#spotlight-box
  #show-all-results
    a
      padding-left: 140px
  .form-horizontal
    .control-label
      width: 120px
    .controls
      margin-left: 140px
    #spotlight-search
      background-color: #1a1a1a
      //color: #333
      height: 16px
      line-height: 16px
      font-size: 12px
      padding-left: 10px
      padding-right: 10px
      margin: 3px 10px 3px 0px
      @include box-shadow(none)
      @include border-radius(20px)