$linkColor: #00bc6b
$btnPrimaryBackgroundHighlight: darken($linkColor, 10%)

$dropdownBackground: rgba(0,0,0,0.9)
$dropdownBorder: #000
$dropdownLinkColorHover: #000
$dropdownLinkColorActive: #000
$dropdownLinkColor: #eee
$dropdownDividerTop: #000
$dropdownDividerBottom: #333

$grayDarker:            #272B30
$btnInverseBackground:              darken($grayDarker, 5%)
$btnInverseBackgroundHighlight:     darken($grayDarker, 20%)

$inputBackground: rgba(0,0,0,.5)
$inputBorder: #000

$tableBorder: #000

$textColor: #ddd

@import 'bootstrap/variables'