$linkColor: #30C5F4
$dropdownBackground: rgba(0,0,0,0.5)
$dropdownBorder: #000
$dropdownLinkColorHover: #000
$dropdownLinkColorActive: #000
$dropdownLinkColor: #eee
$dropdownDividerTop: #000
$dropdownDividerBottom: #333
@import 'bootstrap/variables'