.page-header
  %h1 Users
- if @users.empty?
  %p.no-record
    No records to display
- else
  .content-box.well
    %table.table.table-striped.no-whitespace
      %thead
        %tr
          %th Name
          %th Email
          %th User group
          %th Permissions
          %th Last signed in
          %th
      %tbody= render @users
  = will_paginate