.sidebar-widget#shoutbox
  %h3 Shoutbox
  - if user_signed_in?
    = simple_form_for ShoutboxMessage.new, remote: true, html: { class: 'no-whitespace' } do |f|
      = f.input :message, label: false, input_html: { class: 'input-block-level', placeholder: 'Your message...' }, as: :string, required: true
  %ul.unstyled#existing-messages= render latest_shoutbox_messages
    
.sidebar-widget
  %h3 Recent posts
