.sidebar-widget
  %h3
    Recruitment:
    %span.recruitment-status= recruitment_status
  .well.well-small.well-black.clearfix#recruitment-list
    - if open_recruitments.empty?
      %p.muted.no-whitespace Sorry but we are not recruiting at the moment.
    - else
      %ul.unstyled.no-whitespace
        - open_recruitments.each do |recruitment|
          %li{ class: recruitment.display_css_class }
            .class-icon.pull-left
            .spec= recruitment.display_spec
      .actions#apply-now
        = link_to 'Apply', [:new, :application_form], class: 'pull-right'
.sidebar-widget
  %h3 Progression
  #progression-list{ data: { content_url: url_for([:ajax_get_progression, :progression]) }}
    %i.icon-spinner.icon-spin
    Reading guild progression...