$('.modal').html('#{j render template: 'admin/forums/boards/edit' }');
setTimeout(function() { $('.modal form .control-group.error input').first().focus(); }, 0); // Use setTimeout to fix the issue in firefox